<% include header %>
<body>
  <div class="container">
      <% include banner %>
    <div class="row" style="margin-top: 100px;">
      <div class="col-12">
        <hr style="border:dashed;border-color:pink;border-width:2px;">
        <button id="my_plan" type='button' class='btn btn-outline-primary' onclick="myPlan()"
					style=" margin-left:120px;background:#0066cc;border-color:#0066cc;color:white;">
					<h6 style="margin-top:6px;" >My Plan</h6>
                </button>
                <button  id="backToHome" style = 'margin-left: 630px;margin-top:50px;border-radius: 3px;border-color:#0066cc;color:#0066cc;' type="submit" onclick="back()">回前頁</button>
                <button id="save" type="submit" style = 'margin-left: 40px;border-radius: 3px;background:#ff8080;border-color:#ff8080;color:white;' onclick="editPlanning()">儲存</button>
                <!-- https://semantic-ui.com/collections/message.html  -->
                <div class="ui message" id="myPlan"
					style="margin:30px 170px; border:dotted;  border-radius: 25px; border-color:#99bbff; background-color:#ffe6e6;">
                    <div class="messageplan" style="padding:20px;">
                        <p>計畫公開與否: </p>
						<div id="category"></div>
                        <p>主題 Topic: </p>
                        <div id="topic"></div>
                        <br> <p>時長 Period: </p>
                        <div id="period"></div>
                        <br> <p>目標 Goal: </p>
                        <div id="goal"></div>
                        <br> <p id="addrules"></p>
						<div id="rules"></div>
						<br>
						<p id="addtrigger"></p>
						<div id="trigger"></div>
						<br>
						<p id="addpunish"></p>
						<div id="punish"></div>
						<br>
                        <button type='button' class='btn btn-danger' onclick="editMyPlan()">更新</button>
                    </div>
                </div>
                <span id="idtoken"></span>
                <form id="each-day" style="margin-left:100px;margin-top:30px;"></form>
            </div>
            <!-- <div id="old-data"></div> -->
            <input type="hidden" id="Rules-length" name="rules-length" />    
    </div>
  </div>
  <% include footer %>
</body>
<script src="<%= script_src %>"></script>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>